<div class="container">
  <h1 class ="title-cart text-center">Mis tiendas</h1>
    <div class="index-stores mb-4">
      <% @stores.each do |store| %>
        <%= link_to(store_path(store)) do %>
          <% if store.photos.attached? %>
            <% store.photos.each do |photo| %>
              <div class="store py-5 pl-4"style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(<%= cl_image_path photo.key,crop: :fill %>)">
                <h3 class="store-name"><%= store.name %> </h3>
                <label class="rating-label"><!-- <strong>El rating promedio de la tienda es <%= (store.reviews.sum(:rating) / store.reviews.count).round(2) %></strong> -->
                  <div class="stars-content d-flex">
                    <input class="rating" max="5" readonly step="0.01" style="--fill:orange;--value:<%= (store.reviews.sum(:rating) / store.reviews.count).round(2) %>" type="range" value=<%= (store.reviews.sum(:rating) / store.reviews.count).round(2) %>>
                  </div>
                </label>
                <p><%= store.address %></p>
                <p> <i class="fas fa-phone-alt call-icon mr-2"></i> <%= store.phone %> </p>
              </div>
            <% end %>
          <% else %>
            <div class="store default-image py-5 pl-4">
                <h3 class="store-name"> <%= store.name %> </h3>
                <label class="rating-label"><!-- <strong>El rating promedio de la tienda es <%= (store.reviews.sum(:rating) / store.reviews.count).round(2) %></strong> -->
                  <div class="stars-content d-flex">
                    <input class="rating" max="5" readonly step="0.01" style="--fill:orange;--value:<%= (store.reviews.sum(:rating) / store.reviews.count).round(2) %>" type="range" value=<%= (store.reviews.sum(:rating) / store.reviews.count).round(2) %>>
                  </div>
                </label>
                <p><%= store.address %></p>
                <p><i class="fas fa-phone-alt call-icon mr-2"></i> <%= store.phone %> </p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
</div>
