<div class="container mt-5 p-5">
  <%= simple_form_for @store do |f| %>
    <%= f.input :name %>
    <%= f.input :address%>
    <%= f.input :city%>
    <%= f.input :email%>
    <%= f.input :phone%>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Foto de su tienda" %>
    <%= f.button :submit, "Guardar", class: "btn btn-primary" %>
    <%= link_to  "Volver", request.referrer, class: "btn btn-primary" %>
  <% end %>
</div>