<div class="container ">
  <%= simple_form_for @store do |f| %>
    <div class="new-store-form">
      <%= f.input :name, input_html: { class: "inputs-store mr-5" },
      label: "Nombre" %>
      <%= f.input :address, input_html: { class: "inputs-store mr-5" },
      label:"Dirección" %>
      <!--<%= f.input :city%>-->
      <%= f.input :email, input_html: { class: "inputs-store mr-5" } %>
      <%= f.input :phone, input_html: { class: "inputs-store mr-5" },
      label: "Teléfono"%>
      <%= f.input :photos, as: :file, input_html: { multiple: true}, label: "Foto de su tienda" %>
      <!--<%= link_to  "Volver", root_path, class: "btn btn-warning" %> -->
    </div>
    <div class="dropdown-divider"></div>
    <div class="text-center ">
      <%= f.button :submit, "Crear tienda", class: "boton-primario mb-5" %>
    </div>
  <% end %>
</div>