<div class="container mt-5 p-5">
  <%= simple_form_for @store do |f| %>
    <%= f.input :name %>
    <%= f.input :address%>
    <%= f.input :city%>
    <%= f.input :email%>
    <%= f.input :phone%>
<!--<%= f.input :photo, as: :file %> -->
    <%= f.button :submit, "Crea tu tienda", class: "btn btn-primary" %>
    <%= link_to  "Volver", store_path(@store), class: "btn btn-warning" %>
  <% end %>
</div>