<div class="d-flex bd-highlight mt-3">
  <div class="p-2 col-12 bd-highlight">
  <div class="titulo">
    <h1>Mis productos</h1>
    <%= link_to  "Agregar producto", new_store_product_path(@store.id), class: "btn btn-warning" %>
    <% @store.products.order(id: :asc).each do |product| %>
      <div>
        <% product.photos.first(1).each do |photo| %>
          <%= cl_image_tag photo.key, height: 150, width: 200, crop: :fill %>
        <% end %>
        <%= link_to(product_path(product)) do%>
          <h3><%= product.name %></h3>
        <% end %>
        <p><%= product.description%></p>
        <p>Precio normal <%= "(Activo)" unless product.discount %></p>
        <p>$<%= product.price%></p>
        <p>Precio oferta <%= "(Activo)" if product.discount %></p>
        <p>$<%= product.old_price%></p>
        <% unless product.active %>
          <p><%= "Producto no disponible" %></p>
        <% end %>
        <%= link_to edit_product_path(product.id), class: "" do %>
          <i class="fas fa-pen danger"></i>
        <% end %>
        <%= link_to product_path(product.id), method: :delete, data: { confirm: "Estás seguro?" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>  
      </div>
    <% end %>
  </div>
</div>
