<div class="container-fluid ">
  <div class="row m-5">

    <div class="col-md-8">
      <h1>Tiendas</h1>
      <div class="index-stores">
        <% @stores.each do |store| %>
          <%= link_to(store_path(store)) do %>
            <div class="store">
              <h3> <%= store.name %> </h3>
              <p><%= store.address %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  
    <div class="col-md-4 mt-5">
      <div id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
    <div class="pagination m-2 p-2">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>

