


<div class="container mt-5">

  <div>
    <h1>Nombre de tienda: <%= @store.name %> </h1>
    <h1>Dirección: <%= @store.address %> </h1>
    <h1>Ciudad: <%= @store.city %> </h1>
    <h1>Email: <%= @store.email %> </h1>
    <h1>Teléfono: <%= @store.phone%> </h1>
    <%= link_to  "Todas las tiendas", stores_path, class: "btn btn-success" %>
    <% if policy(@store).edit? %>
      <%= link_to  "Editar tienda", edit_store_path(@store), class: "btn btn-warning" %>
    <% end %>
    <% if policy(@store).destroy? %>
      <%= link_to  "Eliminar tienda", store_path, class: "btn btn-danger", method: :delete %>
    <% end %>
  </div>

   <div>
    <div class="average-review-rating" data-score=<%= @average_review %>></div>
    <h2>Average rating</h2>

    <p><%= (@store.reviews.sum(:rating) / @store.reviews.count).ceil.times do %>
        <i class="fas fa-star" style="color: orange" ></i>
        <% end %>
    </p>
    <h2>Average rating: <%= (@store.reviews.sum(:rating) / @store.reviews.count).round(2) %> </h2>
    <span>Based on <%= @store.reviews.count %> reviews</span>
  </div>

  <div class="row">
    <div class="col-md-4">
      <%= render @store.reviews %>
      <div>
        <%= link_to "Add Review", new_store_review_path(@store), class:"btn-review-add" %>
      </div>
    </div>
  </div>
</div>

<%= link_to "Volver", root_path %>

<div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

