<div class="container-fluid">
  <div class="row m-5">

    <div class="col-md-8">

      <div class="card-store d-flex weight: vw100;">
        <div class="image-store">
          <% @store.photos.each do |photo| %>
             <%= cl_image_tag photo.key, height: 400, width: 400, crop: :fill %>
          <% end %>
        </div>
        <div class="content-store">
          <h1>Nombre de tienda: <%= @store.name %> </h1>
          <h3>Dirección: <%= @store.address %> </h3>
          <h3>Ciudad: <%= @store.city %> </h3>
          <label class="rating-label"><strong>El rating promedio de la tienda es <%= (@store.reviews.sum(:rating) / @store.reviews.count).round(2) %>
          <div class="stars-content d-flex">
            <input
              class="rating_avg"
              max="5"
              readonly
              step="0.01"
              style="--fill:orange;--value:<%= (@store.reviews.sum(:rating) / @store.reviews.count).round(2) %>"
              type="range"
              value=<%= (@store.reviews.sum(:rating) / @store.reviews.count).round(2) %>>
           </label>
          <span id="base-comment">(Basado en <%= @store.reviews.count %> comentarios)</span>
         </div>
          <h3>Email: <%= @store.email %> </h3>
          <h3>Teléfono: <%= @store.phone%> </h3>
          <%= link_to  "Contactar al Productor", store_path(@store) , class: "btn btn-primary"%>
          </div>
        </div>

<div class="d-flex flex-column align-items-center">
      <div class="products-store mt-5 justify-content-start mx-4">
        <% @products.each do |product| %>
        <% if product.active %>
        <div class="">
            <div class="product-card">
          <%= link_to(product_path(product)) do %>
                <%= image_tag "no_image.png", alt: "alttext", class: "image-card" %>
                <p class="product-store-name pl-2 pt-2 pb-1"><%= product.store.name %></p>
                <p class="product-name pl-2 pb-1"><%= product.name %></p>
                <% if product.discount %>
                <div class="discount-tag">
                  <p><%= ((product.price - product.discount_price) * 100) / product.price %>% Ahorro</p>
                </div>
                <div class="d-flex align-items-center">
                  <p class="product-price discount pl-2">$<%= product.discount_price %></p>
                  <p class="product-price-discount pl-2">$<%= product.price %></p>
                </div>
                <% else %>
                  <p class="product-price pl-2">$<%= product.price %></p>
                <% end -%>
          <% end %>
                <div class="form-quantity-product pl-2">
                  <%= simple_form_for(@cart_item, remote: true) do |f| %>
                    <%= f.hidden_field :product_id, value: product.id %>
                    <%= f.number_field :quantity, value: 1, label: false, class: "quantity-product my-2 text-center" %>
                    <%= f.submit "Añadir al carrito", class: "btn boton-primario my-2" %>
                  <% end %>
            </div>
                </div>
        </div>
        <% end -%>
        <% end %>
      </div>



      <div class="pagination m-2 p-2">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
    </div>
      <div class="reviews-average">
      <h1 class = "mt-4">Comentarios</h1>
        <%= render @store.reviews %>
      </div>
      <div class="action-stores">
        <!--<%= link_to "Añadir Reseña", new_store_review_path(@store) %> -->
        <%= link_to  "Todas las tiendas", stores_path, class: "btn btn-success" %>
        <% if policy(@store).edit? %>
          <%= link_to  "Administrar tienda", admin_store_path, class: "boton-primario" %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="map-review d-grid">
        <div id="map"
        style="width: 25vw; height: 40vh;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <div class="create-review mt-3">
          <h3>Reseña</h3>
          <%= render "reviews/form" %>
        </div>
      </div>
    </div>
  </div>
</div>
