<div class="container mt-5">
<h1>Nombre de tienda: <%= @store.name %> </h1>
<h1>Dirección: <%= @store.address %> </h1>
<h1>Ciudad: <%= @store.city %> </h1>
<h1>Email: <%= @store.email %> </h1>
<h1>Teléfono: <%= @store.phone%> </h1>

</div>