<div class="container-fluid">
  <div class="row m-5">

    <div class="col-md-8">
      <div class="card-store d-flex; weight: vw100;">
        <div class="content-store">
          <h1>Nombre de tienda: <%= @store.name %> </h1>
          <h3>Dirección: <%= @store.address %> </h3>
          <h3>Ciudad: <%= @store.city %> </h3>
          <div class="d-flex">
            <p><%= (@store.reviews.sum(:rating) / @store.reviews.count).ceil.times do %>
              <i class="fas fa-star" style="color: orange" aria-hidden="false" ></i>
              <% end %>
            </p>
            <p><%= (5-(@store.reviews.sum(:rating) / @store.reviews.count).ceil).times do %>
              <i class="fas fa-star" style="color: lead" ></i>
              <% end %>
            </p>
            <span>(<%= @store.reviews.count %> reseñas)</span>
         </div>
          <h3>Email: <%= @store.email %> </h3>
          <h3>Teléfono: <%= @store.phone%> </h3>
          <%= link_to  "Contactar al Productor", store_path(@store) , class: "btn btn-primary"%>
        </div>
      </div>

      <div class="products-store mt-5">
        <% @store.products.each do |product| %>
          <%= link_to(product_path(product)) do %>
            <div class="product-card">
              <div class="image-card">
                  <h1>Foto del producto</h1>
              </div>
              <div class="card-content">
                <h5><strong><%= product.name %></strong></h5>
                <p><%= product.description %></p>
                <span>$<%= product.old_price %></span>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="reviews-average">
        <%= render @store.reviews %>
      </div>


      <div class="action-stores">
        <%= link_to "Añadir Reseña", new_store_review_path(@store) %>
        <%= link_to  "Todas las tiendas", stores_path, class: "btn btn-success" %>
        <% if policy(@store).edit? %>
          <%= link_to  "Editar tienda", edit_store_path(@store), class: "btn btn-warning" %>
        <% end %>
        <% if policy(@store).destroy? %>
          <%= link_to  "Eliminar tienda", store_path, class: "btn btn-danger", method: :delete %>
        <% end %>
      </div>
    </div>

    <div class="col-md-4">
    <h5>Descubre dónde estamos</h5>
       <div id="map"
      style="width: 100%; height: 100vh;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
</div>
