<div class="container mt-5">
  <h1>Nombre de tienda: <%= @store.name %> </h1>
  <h1>Dirección: <%= @store.address %> </h1>
  <h1>Ciudad: <%= @store.city %> </h1>
  <h1>Email: <%= @store.email %> </h1>
  <h1>Teléfono: <%= @store.phone%> </h1>
  <%= link_to  "Todas las tiendas", stores_path, class: "boton-primario" %>

  <% if policy(@store).edit? %>
    <%= link_to  "Editar tienda", edit_store_path(@store), class: "btn btn-warning" %>
  <% end %>

  <% if policy(@store).destroy? %>
    <%= link_to  "Eliminar tienda", store_path, class: "btn btn-danger", method: :delete %>
  <% end %>
</div>

<div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


