<div class="footer">
  <div class="container">
    <div class="d-flex justify-content-between py-4">
        <div class="feature mr-3">
          <%= image_tag "rocket.png", alt: "Cohete", class: "img-feature mr-2" %>
          <div>
            <p class="feature-title">Envíos gratis</p>
            <p>En compras mayores a $50.000</p>
          </div>
        </div>

        <div class="feature mr-3">
          <%= image_tag "devolucion.png", alt: "Devolución", class: "img-feature mr-2" %>
          <div>
            <p class="feature-title">Devoluciones</p>
            <p>Antes de las 24 horas</p>
          </div>
        </div>

        <div class="feature mr-3">
          <%= image_tag "seguridad.png", alt: "Seguridad", class: "img-feature mr-2" %>
          <div>
            <p class="feature-title">Pagos 100% Seguros</p>
            <p>Pagos seguros garantizados</p>
          </div>
        </div>

        <div class="feature mr-3">
          <%= image_tag "support.png", alt: "Soporte", class: "img-feature mr-2" %>
          <div>
            <p class="feature-title">Soporte 24/7</p>
            <p>Donde sea y a cualquier horario</p>
          </div>
        </div>

        <div class="feature mr-3">
          <%= image_tag "tag.png", alt: "Etiqueta", class: "img-feature mr-2" %>
          <div>
            <p class="feature-title">Ofertas diarios</p>
            <p>Descuentos hasta 70%</p>
          </div>
        </div>
    </div>
    <div class="footer-divider"></div>
    <div class="d-flex py-5 mx-4 justify-content-between">
      <div class="info-footer">
        <p class="title-links mb-2">Demizona - Tu mayor tienda online</p>
        <p class="mb-3">Lorem ipsum dolor sit amet, consectetut adipiscing elit. Sed finibus viverra iaculis. Etiam vulputate et justo eget scelerisque.</p>

        <div class="d-flex">
          <i class="fas fa-phone-alt call-icon mr-2"></i>
          <p>Llamadas 24/7:</p>
        </div>
        <div class="d-flex flex-column mt-2">
          <a href="tel:+56912345678" class="tel-link ml-3">+56 (9) 1234 5678</a>
          <a href="mailto:soporte@demizona.cl" class="ml-3 email-link mt-2">soporte@demizona.cl</a>
        </div>
      </div>
      <div class="links d-flex flex-column">
        <p class="title-links mb-2">Links de interés</p>
        <%= link_to "Sobre nosotros", "#", class: "footer-link" %>
        <%= link_to "Contáctanos", "#", class: "footer-link" %>
        <%= link_to "Politica de privacidad", "#", class: "footer-link" %>
        <%= link_to "Preguntas Frecuentes", "#", class: "footer-link" %>
      </div>
      <div class="links d-flex flex-column">
        <p class="title-links mb-2">Centro de Ayuda</p>
        <%= link_to "Pagos", "#", class: "footer-link" %>
        <%= link_to "Envíos", "#", class: "footer-link" %>
        <%= link_to "Devoluciones y cambios", "#", class: "footer-link" %>
      </div>
      <div class="links d-flex flex-column">
        <p class="title-links mb-2">Negocios Demizona</p>
        <%= link_to "Vende en Demizona", "#", class: "footer-link" %>
        <%= link_to "Nuestras tiendas", "#", class: "footer-link" %>
        <%= link_to "Promocionate con nosotros", "#", class: "footer-link" %>
      </div>
    </div>
    <div class="footer-divider"></div>
    <p class="py-3">© 2021 <strong>Demizona.</strong> Todos los derechos reservados.</p>
  </div>
</div>
