<div class="container mt-5">

  <h1 class= "card-title text-center">Tu pago ha sido aceptado </h1>
  <div class="order-divider"></div>
  <div class="container mb-5 ">

      <div class="head-payed mt-5">
        <h3><strong>Comprobante de Pago</strong></h3>
        <br>
        <h5>Estimado (a) <strong><%= current_user.name %> <%= current_user.last_name %></strong></h5>
        <p>Le informamos que usted ha realizado el pago de sus productos Demizona.</p>
      </div>
      <br>

      <div class="d-flex flex-column align-items-center">

        <div class="">
          <div class="payed-details">
            <div class="info-order py-3 px-2 ml-2">
              <h6>Informaci贸n de Env铆o: </h6>
              <p><strong>Nombre del cliente: </strong><%= current_user.name %> <%= current_user.last_name %></p>
              <p><strong>Dirreci贸n: </strong><%= current_user.address%></p>
              <p ><strong>Monto Pagado</strong>: $<%= @order.cart.total_price %></p>
              <p><strong>Fecha de Transacci贸n</strong>: <%=  @order.created_at.strftime("%d de %b del %Y")  %></p> <!--- 
              Tambi茅n puede ser remplazado por :   <%= Time.new %>-->
              <p><strong>C贸digo de Transacci贸n</strong> : <%= @order.payment_id %></p>
              <p><strong>Medio de Pago</strong>: Khipu</p>
            </div>

            <div class="order-divider"></div>
            <div class="back-color d-flex align-items-center">
              <%= image_tag "khipu.png", alt: "logo-khipu", class: "khipu-image ml-1 align-items-center", style:"height:5rem"%>
            </div>
          </div>

        <div class="mt-5">
          <%= render "index", collection: @order.cart %>
        </div>
      </div>
    </div>

    <div class="my-3 text-center mb-5">
      <%= link_to root_path, class: "align-items-center" do %>
        <%= image_tag "compra-verificada.png" , class: "" , style:"height:8rem"%>
        <p class="logo-title">Compra Verificada Demizona</p>
      <% end %>
    </div>


  </div>
</div>