<div class="banner-home d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <div class="banner-card first-banner-card d-flex flex-column align-items-center justify-content-center">
      <p class="title-first-banner">Encuentra negocios y productos locales con responsabilidad social</p>
      <p class="subtitle-first-banner mt-3 mb-4">Org치nicos, frescos, veganos y muchos m치s</p>
      <%= link_to "Comprar", products_path, class: "btn boton-primario "%>
    </div>
    <div class="banner-card second-banner-card">
    </div>
  </div>


</div>

<div class="container">

  <div class="my-5">
    <div class="d-flex align-items-center">
      <h2 class="mr-3 store-title">Busca por categoria</h2>
    </div>

    <div class="d-flex align-items-center justify-content-between mt-3 flex-wrap">
      <%= link_to '/categories/1' do %>
        <div class="category-card d-flex flex-column align-items-center justify-content-center">
          <%= image_tag "frutas.png", alt: "Categoria Frutas y Verduras", class: "category-card-image mb-2" %>
          <!-- Llamar esto con category.name -->
          <p class="category-card-title">Frutas</p>
        </div>
      <% end %>

      <%= link_to "/categories/2" do %>
      <div class="category-card d-flex flex-column align-items-center justify-content-center">
        <%= image_tag "vegetales.png", alt: "Categoria Frutas y Verduras", class: "category-card-image mb-2" %>
        <!-- Llamar esto con category.name -->
        <p class="category-card-title">Vegetales</p>
      </div>
      <% end %>

      <%= link_to "/categories/3" do %>
      <div class="category-card d-flex flex-column align-items-center justify-content-center">
        <%= image_tag "infusiones.png", alt: "Categoria Frutas y Verduras", class: "category-card-image mb-2" %>
        <!-- Llamar esto con category.name -->
        <p class="category-card-title">Infusiones</p>
      </div>
      <% end %>

      <%= link_to "/categories/4" do %>
      <div class="category-card d-flex flex-column align-items-center justify-content-center">
        <%= image_tag "mar.png", alt: "Categoria Frutas y Verduras", class: "category-card-image mb-2" %>
        <!-- Llamar esto con category.name -->
        <p class="category-card-title">Productos de Mar</p>
      </div>
      <% end %>

      <%= link_to "/categories/5" do %>
      <div class="category-card d-flex flex-column align-items-center justify-content-center">
        <%= image_tag "congelados.png", alt: "Categoria Frutas y Verduras", class: "category-card-image mb-2" %>
        <!-- Llamar esto con category.name -->
        <p class="category-card-title">Congelados</p>
      </div>
      <% end %>

      <%= link_to "/categories/6" do %>
      <div class="category-card d-flex flex-column align-items-center justify-content-center">
        <%= image_tag "organicos.png", alt: "Categoria Frutas y Verduras", class: "category-card-image mb-2" %>
        <!-- Llamar esto con category.name -->
        <p class="category-card-title">Productos Org치nicos</p>
      </div>
      <% end %>

      <%= link_to "/categories/7" do %>
      <div class="category-card d-flex flex-column align-items-center justify-content-center">
        <%= image_tag "alcohol.png", alt: "Categoria Frutas y Verduras", class: "category-card-image mb-2" %>
        <!-- Llamar esto con category.name -->
        <p class="category-card-title">Bebidas Alcoh칩licas</p>
      </div>
      <% end %>

    </div>

  </div>



  <div class="d-flex align-items-center">
    <h2 class="mr-3 store-title">Nuestras Tiendas</h2>
    <%= link_to stores_path, class: "d-flex align-items-center" do %>
      <p class="link-home"><%= "Todas las tiendas" %></p>
      <i class="fas fa-chevron-right fa-xs ml-2"></i>
    <% end %>
  </div>
  <div class="d-flex flex-wrap justify-content-between mb-5">
    <% @stores.last(3).each do |store| %>
      <%= link_to store_path(store) do %>
        <div class="d-flex flex-column mt-3">
          <% if store.photos.attached? %>
            <% store.photos.first(1).each do |photo| %>
              <%= cl_image_tag photo.key, alt: "Imagen de #{store.name}", class: "store-card-image-home" %>
            <% end %>
          <% else %>
            <%= image_tag "no_store_image.png", alt: "Imagen de #{store.name}", class: "store-card-image-home" %>
          <% end %>
          <p class="store-name-home"><%= store.name %></p>
          <p class="store-content-home"><%= store.address %></p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
<!-- ESTRUCTURA BOTON TERCIARIO CON ICONO

<%= link_to "#", class: "d-flex align-items-center boton-terciario-icon" do %>
        <i class="fas fa-chevron-right fa-xs ml-2"></i>
        <p class="boton-title"><%= "Comprar" %></p>
      <% end %>

      -->
