<div class="container">
  <h1><%= @category.name %></h1>
  <% if @products.count > 0 %>
    <% @products.each do |product|%>
      <%= product.name %>
      <%= product.description %>
      <%= product.price %>
      <%= simple_form_for(@cart_item, remote: true) do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.input :quantity, input_html: { value: 0, min: 0 } %>
        <%= f.submit "Add To Cart" %>
      <% end %>
    <% end %>
  <% else %>
  <h3>Esta categoría no tiene productos</h3>
  <% end -%>
</div>

